.pt10{
    padding-top: 10px;
}
.pb10{
    padding-bottom: 10px;
}
.ptb10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.ptb20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.ptb50{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* custome padding margin ends */
@font-face {
    font-family: NotoSerif-Regular;
    src: url(fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
@font-face {
    font-family: STIXTwoMath-Regular;
    src: url(fonts/STIX_Two_Math/STIXTwoMath-Regular.ttf);
}
body{
    font-family: NotoSerif-Regular;
    background: azure;
}
/* custom fonts ends */
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}
/* banner css */
.home-banner{
    background-color: white;
}
.home-banner .banner-title{
    font-size: 38px;
}
.home-banner .banner-subtitle{
    font-size: 30px;
}
/* innovation css */
.innovation{
    background-color:aqua;
}
.innovation .innovation-text{
    font-size: 5vw;
    /* line-height: inherit; */
    margin: 0;
    padding: 10px;
}
.innovation .innovation-para{
    /* font-family: STIXTwoMath-Regular; */
    font-size: 2.3vw;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    padding: 10px;
}
/* Contact us */
.contact-title::after{
    content: "";
    border-bottom: 1px solid black;
    width: 85px;
    display: block;
    margin: auto;
    padding: 6px 0px;
}
.social-column i{
    font-size: 30px;
}
.social-column i:hover{
    font-size: 35px;
    color: brown;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    /* transform: translateY(-6px); */
}
/* media queries */
@media only screen and (max-width:768px){
    .innovation .innovation-para {
        /* font-family: STIXTwoMath-Regular; */
        font-size: 3vw;
        font-weight: 400;
        text-transform: none;
        margin: 0;
        padding: 10px;
    }
}
