html {
  scroll-behavior: smooth;
}
.pt10 {
  padding-top: 10px;
}
.pb10 {
  padding-bottom: 10px;
}
.ptb10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ptb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.ptb50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* custome padding margin ends */
@font-face {
  font-family: NotoSerif-Regular;
  src: url(fonts/Noto_Serif/NotoSerif-Regular.ttf);
}
@font-face {
  font-family: STIXTwoMath-Regular;
  src: url(fonts/STIX_Two_Math/STIXTwoMath-Regular.ttf);
}
body {
  font-family: NotoSerif-Regular;
  background: azure;
}
/* custom fonts ends */
.social-part .fa {
  padding-right: 20px;
}
ul li a {
  margin-right: 20px;
}
/* banner css */
.home-banner {
  background-color: white;
}
.home-banner .banner-title {
  font-size: 38px;
}
.home-banner .banner-subtitle {
  font-size: 30px;
}
/* innovation css */
.innovation {
  background-color: aqua;
}
.innovation .innovation-text {
  font-size: 5vw;
  /* line-height: inherit; */
  margin: 0;
  padding: 10px;
}
.innovation .innovation-para {
  /* font-family: STIXTwoMath-Regular; */
  font-size: 2.3vw;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 10px;
}
/* Contact us */
.contact-title::after {
  content: "";
  border-bottom: 1px solid black;
  width: 85px;
  display: block;
  margin: auto;
  padding: 6px 0px;
}
.social-column i {
  font-size: 30px;
}
.social-column i:hover {
  font-size: 35px;
  color: brown;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  /* transform: translateY(-6px); */
}
/* pacakage css */
@import "lesshat";
html,
body {
  /* font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 10px;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
  padding: 10px; */
}
.package-servics h2 {
  font-size: 3vw;
  display: inline;
  text-transform: uppercase;
}
.package-servics h3 {
  font-size: 1.6em;
  display: inline;
  text-transform: capitalize;
}
.package-servics em {
  font-style: normal;
  text-decoration: underline;
  font-size: 1.7rem;
}
section.package-servics {
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 10px;
  font-weight: bold;
  max-width: 100%;
  margin: auto;
  padding: 10px;
}
section.package-servics > * {
  text-align: left;
  font-size: medium;
}
section.package-servics :after {
  content: "";
  display: inline-block;
  width: 100%;
}
section.package-servics > div {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  width: 24%;
  margin-bottom: 1.9%;
}
@media only screen and (max-width: 529px) {
  section.package-servics > div {
    width: 100%;
    margin-bottom: 1.9%;
  }
}
section.package-servics > div.all-plans {
  width: 100%;
  margin-bottom: 1.9%;
}
.price-package {
  padding-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
}
.price-package .package-name {
  font-size: 1.4rem;
}
@media only screen and (max-width: 529px) {
  .price-package {
    padding-top: 1rem;
  }
}
.price-package .package-price {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  margin-top: 25px;
}
@media only screen and (max-width: 529px) {
  .price-package .package-price {
    margin-top: 1rem;
  }
}
.price-package .package-price .price {
  position: relative;
  display: inline-block;
}
.price-package .package-price .price sup {
  font-size: 1.6rem;
  position: absolute;
  top: 6px;
  left: -12px;
}
.price-package .package-price .price span {
  font-size: 3.5rem;
}
.price-package .package-price .term {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 6px;
}
.price-package .package-price .term sup {
  font-size: 1.7rem;
  display: block;
  padding: 0;
}
.price-package .package-price .term span {
  font-size: 1rem;
  display: block;
  margin-top: -3px;
}
.price-package .package-features {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  margin-top: 16.666666666667px;
}
.price-package .package-features ul {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.price-package .package-features ul li {
  margin: 20px auto;
  padding: 0;
}
@media only screen and (max-width: 529px) {
  .price-package .package-features ul li {
    margin: 10px auto;
  }
}
.price-package .sign-up {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  padding: 16.666666666667px 0;
  margin-top: 16.666666666667px;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
}
.price-package .package-arrow {
  width: 0;
  height: 0;
  margin: 0 auto 12.5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid;
}
.all-plans .all-plans-features {
  display: table;
  width: 100%;
}
.all-plans .all-plans-features text {
  display: table-cell;
  font-size: 1.6rem;
  vertical-align: middle;
  width: 33%;
}
@media only screen and (max-width: 529px) {
  .all-plans .all-plans-features text {
    display: block;
    margin: 10px auto;
  }
}
.average .price-package {
  background-color: #009a86;
}
.average .price-package .package-name {
  color: white;
}
.average .price-package .package-price {
  background-color: #66caa6;
  color: white;
}
.average .price-package .package-features {
  background-color: #e0f2ed;
  color: #009a86;
}
.average .price-package .sign-up {
  background-color: #009a86;
  color: white;
  transition: background-color 0.5s ease;
}
.average .price-package .sign-up:hover {
  background-color: #66caa6;
}
.average .price-package .sign-up:active {
  background-color: #e0f2ed;
}
.average .price-package .package-price .package-arrow {
  border-top-color: #009a86;
}
.average .price-package .package-features .package-arrow {
  border-top-color: #66caa6;
}
.average .price-package .sign-up .package-arrow {
  border-top-color: #e0f2ed;
}
.special .price-package {
  background-color: #8654ff;
}
.special .price-package .package-name {
  color: white;
}
.special .price-package .package-price {
  background-color: #b191ff;
  color: white;
}
.special .price-package .package-features {
  background-color: #efe9fc;
  color: #8654ff;
}
.special .price-package .sign-up {
  background-color: #8654ff;
  color: white;
  transition: background-color 0.5s ease;
}
.special .price-package .sign-up:hover {
  background-color: #b191ff;
}
.special .price-package .sign-up:active {
  background-color: #efe9fc;
}
.special .price-package .package-price .package-arrow {
  border-top-color: #8654ff;
}
.special .price-package .package-features .package-arrow {
  border-top-color: #b191ff;
}
.special .price-package .sign-up .package-arrow {
  border-top-color: #efe9fc;
}
.superduper .price-package {
  background-color: #00b9f2;
}
.superduper .price-package .package-name {
  color: white;
}
.superduper .price-package .package-price {
  background-color: #7dd4fe;
  color: white;
}
.superduper .price-package .package-features {
  background-color: #e0f2fa;
  color: #00b9f2;
}
.superduper .price-package .sign-up {
  background-color: #00b9f2;
  color: white;
  transition: background-color 0.5s ease;
}
.superduper .price-package .sign-up:hover {
  background-color: #7dd4fe;
}
.superduper .price-package .sign-up:active {
  background-color: #e0f2fa;
}
.superduper .price-package .package-price .package-arrow {
  border-top-color: #00b9f2;
}
.superduper .price-package .package-features .package-arrow {
  border-top-color: #7dd4fe;
}
.superduper .price-package .sign-up .package-arrow {
  border-top-color: #e0f2fa;
}
.all-plans .price-package {
  background-color: #646c7f;
}
.all-plans .price-package .package-name {
  color: white;
}
.all-plans .price-package .package-price {
  background-color: #8b94ab;
  color: white;
}
.all-plans .price-package .package-features {
  background-color: #e5ebf4;
  color: #646c7f;
}
.all-plans .price-package .sign-up {
  background-color: #646c7f;
  color: white;
  transition: background-color 0.5s ease;
}
.all-plans .price-package .sign-up:hover {
  background-color: #8b94ab;
}
.all-plans .price-package .sign-up:active {
  background-color: #e5ebf4;
}
.all-plans .price-package .package-price .package-arrow {
  border-top-color: #646c7f;
}
.all-plans .price-package .package-features .package-arrow {
  border-top-color: #8b94ab;
}
.all-plans .price-package .sign-up .package-arrow {
  border-top-color: #e5ebf4;
}
.all-plans .package-features .package-arrow {
  border-top-color: #646c7f !important;
}
.all-plans .package-features {
  padding-bottom: 20px;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .innovation .innovation-para {
    /* font-family: STIXTwoMath-Regular; */
    font-size: 3vw;
    font-weight: 400;
    text-transform: none;
    margin: 0;
    padding: 10px;
  }
}

@media only screen and (max-width: 530px) {
  .price-package .package-price .price span {
    font-size: 10vw !important;
  }
  .price-package .package-price .price span:nth-child(2){
    font-size: 4vw !important;
  }
}
@media only screen and (min-width:531px) and (max-width: 992px) {
  .price-package .package-price .price span {
    font-size: 2.5rem;
}
}
